/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	/* height: 100%;
	width: 100%; */
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
	transition: 0.7s;
}
a:hover,
a:active {
	text-decoration: none;
	transition: 0.7s;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

body {
	font-family: Arial, "Times New Roman", sans-serif;
	background-color: #e8e8e8;
}

.wrapper {
	width: 83%;
	margin: 0 auto;
}

.container {
	background-image: url(../img/eclipse.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding: 65px 0;
}

.travel {
	width: 60%;
	margin: 0 0 25px 17%;
	opacity: 0.6;
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	letter-spacing: 0.2em;
	color: #273d46;
	text-align: center;
}

.title {
	width: 60%;
	margin: 0 0 0 17%;
	font-family: "Times New Roman";
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	color: #273d46;
	text-align: center;
}

.image {
	width: 69%;
	margin: 50px 0 100px 12%;
	outline: 10px solid #ffffff;
	/* visibility: hidden; */
}

.image__item {
	width: 100%;
}

.main-text {
	width: 61%;
	margin: 0 0 0 17%;
	opacity: 0.8;
	font-family: "Times New Roman";
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
}

.content {
	margin: 0 0 150px 0;
}

.content__item {
	width: 61%;
	margin: 0 0 0 17%;
	padding: 0 0 60px 0;
	opacity: 0.8;
	font-family: "Times New Roman";
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
}

.list {
	width: 61%;
	margin: 0 0 65px 16%;
}

.list__item {
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	background: url(../img/icons/check_icon.svg) left 10px no-repeat;
	padding: 0 0 0 30px;
}

.list__item--primary {
	font-weight: 400;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	color: #273d46;
}

.list__item--secondary {
	font-weight: 400;
	font-style: italic;
	color: #80b7b3;
}

.list__item--additional {
	font-weight: 700;
	color: #273d46;
}

.list__item--special {
	font-weight: 400;
	text-decoration: line-through;
	color: #273d46;
	opacity: 0.3;
}

.btn {
	display: inline-block;
	padding: 1px 45px 1px 25px;
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	margin: 0 0 0 16%;
	background: url(../img/icons/shape.svg) 143px 14px / 20px 13px no-repeat, rgba(128, 183, 179, 0.54);
	box-shadow: 0px 6px 40px 0px;
	border-radius: 20px;
	text-align: center;
}

a:hover {
	background-color: rgba(65, 211, 201, 0.69);
}
